*.tsv
*csv
logs/
commits_indexes/
run/
run_index/
mlruns/
retrieve_output/
data/cve_split/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# mac
.DS_Store

*.dnn